body{
    background-color: #080825;
}
.highlight{
    color: yellow;
    text-shadow: 2px 2px;
    background-color: inherit;
    min-width: 0;
    border: none;
    display: inline;
}
.charDelim{
    color: white;
    background-color: inherit;
    min-width: 0;
    border: none;
    display: inline;
}
/* new */
.err{
    color: red;
    text-shadow: 2px 2px;
    background-color: inherit;
    min-width: 0;
    border: none;
    display: inline;
}
.errMessage{
    color: red;
    background-color: inherit;
    min-width: 0;
    border: none;
    display: inline;
}
.warnMessage{
    color: yellow;
    background-color: inherit;
    min-width: 0;
    border: none;
    display: inline;
}
.charKey{
    color: #00a1a1;
    background-color: inherit;
    min-width: 0;
    border: none;
    display: inline;
}
.charValue{
    color: #82c59c;
    background-color: inherit;
    min-width: 0;
    border: none;
    display: inline;
}
.charDateValue{
    color: #60a37a;
    background-color: inherit;
    min-width: 0;
    border: none;
    display: inline;
}
.charNumVal{
    color: #fff700;
    background-color: inherit;
    min-width: 0;
    border: none;
    display: inline;
}
.charBoolVal{
    color: coral;
    background-color: inherit;
    min-width: 0;
    border: none;
    display: inline;
}
.charNullVal{
    color: #bfa3a3;
    background-color: inherit;
    min-width: 0;
    border: none;
    display: inline;
}
textarea#origText{
    color: white;
    background: black;
    caret-color: red;
}
/* new 2 */
.displayArea{
    border: 1px solid #a4a5a6;
    border-radius: 3px;
    margin: 0 15px;
}
.smallText{
    color: white;
    cursor: default;
    display: inline;
}
h4{
    color: white;
}
label{
    color: #8bb9dd;
}
.bgRed {
    background: red;
}
